<div>
    <form action="/race" method="post">
        <input type="text" name="players[playerA]" placeholder="Player 1 Name">
        <input type="text" name="players[playerB]" placeholder="Player 2 Name">
        
        <input type="submit" value="Start Race!">
    </form>
  
</div>
