<p><%= @players[:playerA] %> </p>

<ul id="playerA" class="<%= @players[:playerA] %>">
  <li class="active"></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>

</ul>
<br>

<ul id="playerB" class="<%= @players[:playerB] %>">
  <li class="active"></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
    <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<p> <%= @players[:playerB] %> </p>


  <iframe width="560" height="315" src="//www.youtube.com/embed/gnh-nrHjYLw?autoplay=1" frameborder="0" allowfullscreen hidden="true"></iframe>
